.coreInfo {
  &-wrapper {
    background: white;

    .courses {
      display: flex;
      margin: 8px;

      &-item {
        color: #191816;
        white-space: nowrap;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 9007200000000000px;
        padding: 10px 24px 8px;
        font-size: 20px;
        line-height: 1.2;
        text-decoration: none;
        transition: all .5s ease-in-out;
      }
    }
  }

  &-title {
    font-weight: bold;
    font-size: 51px;
    font-family: Arial, sans-serif;
  }
}


